USE [master]
GO
/****** Object:  Database [CRUD]    Script Date: 19/11/2020 01:37:57 ******/
CREATE DATABASE [CRUD]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'CRUD', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\CRUD.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'CRUD_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\CRUD_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [CRUD].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [CRUD]
GO
/****** Object:  Table [dbo].[diretores]    Script Date: 19/11/2020 01:37:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[diretores](
	[iddiretor] [int] IDENTITY(1,1) NOT NULL,
	[nome] [nchar](50) NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[filmes]    Script Date: 19/11/2020 01:37:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[filmes](
	[idfilme] [int] IDENTITY(1,1) NOT NULL,
	[nome] [nchar](30) NULL,
	[id_diretor] [int] NULL,
	[dataLancamento] [datetime] NULL
) ON [PRIMARY]
GO
/****** Object:  StoredProcedure [dbo].[spAlteraFilme]    Script Date: 19/11/2020 01:37:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Khayo Vannucci Rodrigues>
-- Create date: <18/11/2020>
-- Description:	<Altera um filme existente>
-- =============================================
CREATE PROCEDURE [dbo].[spAlteraFilme]
	@idfilme INT,
	@nome VARCHAR(50),
	@diretor VARCHAR(50),
	@dataLancamento DATETIME

AS

DECLARE @id_diretor INT;

BEGIN
	EXECUTE dbo.spVerificaDiretor @diretor,  @id_diretor OUTPUT; 
	UPDATE dbo.filmes set nome = @nome, id_diretor = @id_diretor, dataLancamento = @dataLancamento 
	WHERE idfilme = @idfilme;
END
GO
/****** Object:  StoredProcedure [dbo].[spApagaPorId]    Script Date: 19/11/2020 01:37:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Khayo Vannucci Rodrigues>
-- Create date: <18/11/2020>
-- Description:	<Apaga o filme com o id indicado>
-- =============================================
CREATE PROCEDURE [dbo].[spApagaPorId]

@id int

AS
BEGIN
	DELETE FROM dbo.filmes WHERE idfilme=@id;
END
GO
/****** Object:  StoredProcedure [dbo].[spBuscaFilmePorId]    Script Date: 19/11/2020 01:37:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:		<Khayo Vannucci Rodrigues>
-- Create date: <18/11/2020>
-- Description:	<Busca o filme com o id indicado>
-- =============================================
CREATE PROCEDURE [dbo].[spBuscaFilmePorId] 
	@idfilme INT
AS
BEGIN
	SELECT f.idfilme AS [id], f.nome [nome], f.dataLancamento AS [dataLancamento], d.nome AS [diretor] FROM dbo.filmes AS f, dbo.diretores AS d
	WHERE d.iddiretor = f.id_diretor
	AND f.idfilme = @idfilme;
END
GO
/****** Object:  StoredProcedure [dbo].[spDiretores_GetAll]    Script Date: 19/11/2020 01:37:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:		<Khayo Vannucci Rodrigues>
-- Create date: <18/11/2020>
-- Description:	<Insere um filme e um diretor as tabelas>
-- =============================================
CREATE PROCEDURE [dbo].[spDiretores_GetAll]
AS
BEGIN	
	SELECT * FROM dbo.diretores;		
END
GO
/****** Object:  StoredProcedure [dbo].[spFilmes_GetAll]    Script Date: 19/11/2020 01:37:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Khayo Vannucci Rodrigues>
-- Create date: <18/11/2020>
-- Description:	<Busca todos os dados da tabela filmes>
-- =============================================
CREATE PROCEDURE [dbo].[spFilmes_GetAll] 
AS
BEGIN
	SELECT f.idfilme AS [id], f.nome [nome], f.dataLancamento AS [dataLancamento], d.nome AS [diretor] FROM dbo.filmes AS f, dbo.diretores AS d
	WHERE d.iddiretor = f.id_diretor
	ORDER BY f.idfilme;
END

GO
/****** Object:  StoredProcedure [dbo].[spInserirFilme]    Script Date: 19/11/2020 01:37:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:		<Khayo Vannucci Rodrigues>
-- Create date: <18/11/2020>
-- Description:	<Insere um novo filme>
-- =============================================
CREATE PROCEDURE [dbo].[spInserirFilme]
	@nome VARCHAR(50),
	@diretor VARCHAR(50),
	@dataLancamento DATETIME

AS

DECLARE @id_diretor INT;

BEGIN
	EXECUTE dbo.spVerificaDiretor @diretor,  @id_diretor OUTPUT; 
	INSERT INTO dbo.filmes(nome, id_diretor, dataLancamento) VALUES(@nome, @id_diretor, @dataLancamento);
END

	
	
GO
/****** Object:  StoredProcedure [dbo].[spVerificaDiretor]    Script Date: 19/11/2020 01:37:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:		<Khayo Vannucci Rodrigues>
-- Create date: <18/11/2020>
-- Description:	<Insere um filme e um diretor as tabelas>
-- =============================================
CREATE PROCEDURE [dbo].[spVerificaDiretor]
	@nomeDiretor varchar(50),
	@iddiretor INT OUTPUT

	AS
	BEGIN
	IF @nomeDiretor = (SELECT nome FROM dbo.diretores WHERE nome = @nomeDiretor)
	BEGIN 
		SELECT @iddiretor = iddiretor FROM dbo.diretores WHERE nome = @nomeDiretor;
	END
	ELSE
	BEGIN
		INSERT INTO dbo.diretores(nome) VALUES( @nomeDiretor);
		SELECT @iddiretor = iddiretor FROM dbo.diretores WHERE nome = @nomeDiretor;
	END
END
GO
USE [master]
GO
