@{
    ViewBag.Title = "Contato";
}
<h2>@ViewBag.Title</h2>


<address>
    Khayo Vannucci Rodrigues<br />
    Estrada Cata Preta, 1002 - Ap 6<br />
    <abbr title="Phone">P:</abbr>
    11-98111-9785
</address>

<address>
    <strong>Email:</strong>   <a href="mailto:khayovannucci@gmail.com">khayovannucci@gmail.com</a>
    
</address>