<div class="jumbotron">
    <h2>Cadastrar Diretor</h2>
    <form action="/diretores/criar" method="post">
        <div class="form-group">
            <label for="nome">Nome</label>
            <input type="text" class="form-control" id="nome" name="nome" placeholder="Insira o nome do diretor">
        </div>        
        <div class="form-group">
            <a href="/diretores" class="btn btn-default">Voltar</a>
            <button type="submit" class="btn btn-primary">Cadastrar</button>
        </div>
    </form>
</div>
