<div class="jumbotron">
    <h2>Cadastrar Filme</h2>
    <form action="/filmes/criar" method="post">
        <div class="form-group">
            <label for="nome">Nome</label>
            <input type="text" class="form-control" id="nome" name="nome" placeholder="Insira o nome do filme">
        </div>
        <div class="form-group">
            <label for="diretor">Diretor</label>
            <input type="text" class="form-control" id="diretor" name="diretor" placeholder="Insira o nome do diretor">
        </div>
        <div class="form-group">
            <label for="dataLancamento">Data Lançamento</label>
            <input type="date" class="form-control" id="dataLancamento" name="dataLancamento" placeholder="Insira a data de lançamento">
        </div>
        <div class="form-group">
            <a href="/filmes" class="btn btn-default">Voltar</a>
            <button type="submit" class="btn btn-primary">Cadastrar</button>
        </div>
    </form>
</div>
